<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="logo.PNG" type="image/x-icon">
    <script src=""></script>
    <title>Summaries</title>
</head>
<body>
    <header class="header">
        <h1>Summaries</h1>
        <figure>
            <imgsrc="logo.PNG" alt="icon">
        </figure>

    </header>
    <nav class="nav">
        <ul class="list">
            <li><a href="#">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li>Summaries
                <!-- <ul>
                    <li><a href="new.html">New</a></li>
                    <li><a href="course">Courses</a></li>
                    <li><a href="books.html">Books</a></li>
                </ul> -->
            </li>
        
                <li><a href="search.html">Search</a></li>
                <li><a href="login.html">Login</a></li>

        </ul>
    </nav>
    <div class="continer">
   
        <aside>
            <h2 class="h2">Categories</h2>
            <div class="aside-card">New</div>
            <div class="aside-card">Last</div>
            <div class="aside-card">Top</div>

        </aside>
         <main class="main">
            <h2 class="h2">Courses</h2>
            <article class="article-card">1</article>
            <article class="article-card">1</article>
            <article class="article-card">1</article>
            <article class="article-card">1</article>
            <article class="article-card">1</article>
            <article class="article-card">1</article>
            <article class="article-card">1</article>
            
           
         </main>
    </div>
    
    <footer></footer>
    
</body>
</html>