{% extends "summary/layout.html" %}
{% load static %}



{% block title %}Home{% endblock %}



{% block body %}
<div id="cours-container" class="cards-container"></div>
{% endblock %}
<!-- {% comment %} {% if requests.user%} {% endcomment %} -->
<!-- <h1>{{title}}</h1>
<p>{{content}}</p>
<h2>منشئ الدورة:{{user.username}}</h2>
<p>بواسطة: {{user.username}}</p>
<h2>الدورة:</h2>
<p>{{course.name}}</p>
<p>وصف الدورة: {{course.description}}</p>

<h2> Courses  </h2> -->



<!-- 
<script>
    let data = {
        "id": 1,
        "title": "elmeanmt",
        "content": "elmeant : use to creat gedlinewep page",
        "created_at": "2024-08-08T11:37:02.570228Z",
        "updated_at": "2024-08-08T11:37:02.570228Z",
        "user": {
          "id": 1,
          "email": "go@mail.com",
          "username": "husain",
          "first_name": "",
          "last_name": ""
        },
        "course": {
          "id": 1,
          "name": "Html",
          "description": "لغة ترميز للمتصفحات",
          "created_at": "2024-08-07T11:48:06.196536Z",
          "image": "http://127.0.0.1:8000/media/course_images/contacts-1.jpeg",
          "updated_at": "2024-08-07T21:50:46.553131Z",
          "user": {
            "id": 1,
            "email": "go@mail.com",
            "username": "husain",
            "first_name": "",
            "last_name": ""
          },
          "comments": [
            {
              "id": 2,
              "user": 1,
              "course": 1,
              "comment": "ffffffffffffff",
              "created_at": "2024-08-16T07:02:33.826774Z"
            }
          ],
          "likes": [
            {
              "id": 1,
              "user": 1,
              "course": 1,
              "likes": true,
              "unlikes": false,
              "created_at": "2024-08-08T11:37:30.031387Z"
            }
          ],
          "favorites": [
            {
              "id": 2,
              "user": 1,
              "course": 1,
              "followStatus": true,
              "timestamp": "2024-08-08T11:37:49.701728Z"
            }
          ]
        },
        "summary_comments": [
          {
            "id": 1,
            "user": 1,
            "course": 1,
            "summary": 1,
            "comment": "good nice-",
            "created_at": "2024-08-08T11:37:18.690049Z"
          }
        ],
        "summary_likes": [],
        "summary_favorites": []
      };
    let title = document.querySelector('h1');
    let content = document.querySelector('p:nth-child(2)');
    let username = document.querySelector('p:nth-child(4)');
    let courseName = document.querySelector('p:nth-child(6)');
    let courseDescription = document.querySelector('p:nth-child(7)');
    if (content !== null) {

        content.textContent = data.content;
      } else {
        console.error("Element not found.");
      }
    
      title.textContent = data.title;

</script> -->
