{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Summaries{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'summary/img/logo.PNG' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'summary/css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <header id="header" class="header">
        <div class="logo">
            <a href="{% url 'index' %}" title="Home"> <img class="img-header" src="{% static 'summary/img/logo.PNG' %}"
                    alt="icon"></a>
        </div>
        <div class="title">
            <h1 id="mainTitle">Summaries </h1>
        </div>
        <div class="nav-small-screen">
            <span id="nav-view" class="nav-small-button">
               {% include 'summary/layout/svg_nav.html' %} 
            </span>
            <span>
                <select id="languageSwitcher" class="leng-select">
                    <option value="en">EN</option>
                    <option value="ar">AR</option>
                </select>
                <!-- Rounded switch -->
                <label class="switch">
                    <input id="dark-mode" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </span>
        </div>
    </header>

    <nav id="navigation" class="navigation">
        <ul class="navigation-iteam" id="nav-items">
            <li class="nav-item" id="Courses">
                <a href="{% url 'index' %}" class="nav-link btn" id="home" data-section="Courses">Courses</a>
            </li>
            <!-- User but   -->
            <li class="nav-item" id="profile-item" style="display: none;">
                <a class="nav-link btn nav-list" href="{% url 'profile' %}" title="View Profile"> <strong id="username"></strong></a>
            </li>
            <li class="nav-item" id="admin-item" style="display: none;">
                <a class="nav-link btn" href="/admin"><strong id="userAdmin">Admin</strong></a>
            </li>
            <li class="nav-item" id="favourites-item" style="display: none;">
                <a class="nav-link btn" id="favourites" href="{% url 'favorite' %}" title="View Favourites">Favourites</a>
            </li>
            <!-- Login and registear but-->
            <li class="nav-item" id="login-item">
                <a class="nav-link btn" id="log-in " href="{% url 'login' %}"  title="Log In">Log In</a>
            </li>
            <li class="nav-item" id="register-item">
                <a class="nav-link btn" id="register" href="{% url 'register' %}" title="Register">Register</a>
            </li>
            <li class="nav-item" id="logout-item" style="display: none;">
                <a class="nav-link btn btn-danger" id="log-out" title="Log Out">Log Out</a>
            </li>
        </ul>
    </nav>

    <main class="main">
        <aside>
            {% block left-side %}
            {% endblock left-side %}
        </aside>
        <section>
            <div class="message-alrt dislay-off" id="message-alrt"></div>
            {% block body %}
            {% endblock %}
        </section>
        <aside id="rightside" >
            {% block rightside %}
            {% endblock %}
        </aside>
    </main>

    <footer class="footer">
        {% include 'summary/layout/folwme.html' %}
    </footer>

    <script type="module" src="{% static 'summary/js/layout.js' %}"></script>
    <script  type="module" src="{% static 'summary/js/login.js' %}"></script>
    
</body>

</html>