{% extends "summary/layout.html" %}
{% load static %}

{% block title %}Profile{% endblock %}




{% block left-side %}

{% if user.is_superuser %}
    <button class="nav-link btn" id="course-add-btn" ><strong >Add New Course </strong></button>
    <button  class="nav-link btn" id="course-view-btn" ><strong > View Courses</strong></button>
    {% endif %}
    <article id="informtian">

    </article>
    
{% endblock %}

{% block body %}
<div>
    <h2 ><strong > You are Welcome Mr {{ user.username|title  }} </strong></h2>
    <input type="text" id="user_id" value="{{user.id}}" hidden>
</div>
<hr>

<article>
    <div id="cours-container" class="cards-container"></div>
</article>


<script type="module"  src="{% static 'summary/js/profile.js' %}"></script>
{% endblock %}
{% block rightside %}

{% endblock %}


