{% extends "summary/layout.html" %}
{% load static %}

{% block title %}Profile{% endblock %}




{% block left-side %}
{% if user.is_staffe %}
print hell

  
{% endif %}

{% if user.is_superuser %}


    <button class="nav-link btn" id="course-add-btn" ><strong >Add New Course </strong></button>
   <button  class="nav-link btn" id="course-view-btn" ><strong > View Courses</strong></button>
    {% endif %}
    {% if user.is_authenticated %}
        <div><button  class="nav-link btn" >View Courses</button></div>
        <div><button  class="nav-link btn" >Add Course</button></div> 
        <div><button  class="nav-link btn" >Update Course</button></div>
        <div><button  class="nav-link " >Delete Course</button></div>
    {% endif %}



{% endblock %}


{% block body %}


<div>
    <h2 ><strong > You are Welcome Mr {{ user.username|title  }} </strong></h2>
    <input type="text" id="user_id" value="{{user.id}}">
</div>
<hr>
<div class="message-alrt dislay-off" id="message-alrt"> </div>
<article>


</article>

<article  id="coress-add" class="dislay-off" >
    <h3>New Course</h3>
        <form enctype="multipart/form-data" method="post" id="course_form" >
        {% csrf_token %}
        <div class="form-group">
            <label for="user_id">Title</label>
            <input class="form-control" type="text" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
        </div>
        <div class="mb-3">
            <label for="id_image" class="form-label">Image:</label>
            <input class="form-control" type="file" name="image" id="id_image"  accept="image/*">
        </div>
        <input type="submit" id="send" class="btn btn-primary float-right m-3" value="Add Course"/>
    </form>
</article>

<script type="module"  src="{% static 'summary/js/profile.js' %}"></script>
{% endblock %}





