@charset "UTF-8";
.w-90 {
  width: 90%;
}

.bg-primary-color {
  background-color: #344e41;
  color: white;
  font-size: small;
  font-style: italic;
}

.m-auto-top10 {
  margin: auto 10px;
}

.viewText {
  white-space: pre-wrap;
}

.btn-bg {
  background-color: #a3b18a;
  color: white;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s, color, 1s;
  margin: 10px;
  text-align: center;
  min-width: 100px;
  display: inline-block;
  text-decoration: none;
}

.a-btn {
  color: white;
  padding: 0px;
}

.btn-bg:hover {
  background-color: #5c7650;
}

.btn-bg:focus {
  outline: #dad7cd auto 1px;
}

.main, .navigation, .header, .Cardnavgation {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.certfi-grid {
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(2, auto);
  /*refrection جزء من باقي المساحة*/
  gap: 1rem;
}

.grid-iteam {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dislay-off {
  display: none;
}

.grid-iteam img {
  width: auto;
  height: auto;
}

body {
  transition: background-color 0.5s, color, 1s;
  font: 100% Arial, sans-serif;
  background-color: #dad7cd;
  color: #344e41;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.light-mode {
  background-color: #dad7cd;
  color: #344e41;
}

body.dark-mode {
  background-color: #344e41;
  color: white;
}

.Cardnavgation {
  background-color: #344e41;
  padding: 10px;
  border: 1px;
  border-radius: 10px;
  color: #dad7cd;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  font-size: small;
  font-style: italic;
  text-align: center;
}

.header {
  transition: background-color 0.5s, color, 1s;
  padding: 1em;
  align-items: center;
}
.header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.header .leng-select {
  width: 43;
  height: 25;
  padding: 0px 5px 4px 4px;
  text-align: center;
  border: 0px;
  background-color: #344e41;
  color: #a3b18a;
  border-radius: 34px;
  cursor: pointer;
}
.header option {
  border-radius: 50%;
}
.header .title {
  text-align: center;
  margin: auto;
  padding: 0;
}
.header .leng-select:focus-visible {
  outline: #dad7cd auto 0px;
}

header.light-mode {
  background-color: #5c7650;
}

header.dark-mode {
  background-color: #344e41;
}

.nav-small-button {
  display: none;
}

/* dark mode button */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
  background-color: #344e41;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.switch input:checked + .slider {
  background-color: #dad7cd;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #dad7cd;
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

.message-alrt, .navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* nav box */
.navigation {
  flex-direction: row;
  background-color: #a3b18a;
}
.navigation ul {
  display: flex;
  flex-direction: row;
}
.navigation li {
  display: flex;
}
.navigation li:hover {
  background-color: #dad7cd;
}

.main section {
  flex-grow: 2;
}
.main aside {
  min-width: 300px;
}

.message-alrt {
  background-color: #a3b18a;
  color: white;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: calc(100% - 20px);
}

.footer {
  background-color: #5c7650;
  justify-content: space-between;
  display: flex;
  margin-top: auto;
  padding: 10px;
  align-items: center;
  color: #dad7cd;
}
.footer a {
  color: #dad7cd;
}

.cards-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-datiles, .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  position: relative;
  pointer-events: auto;
  cursor: pointer;
}

.card {
  width: 300px;
}
.card img {
  width: 100%;
  height: 300px;
}

.card-datiles {
  width: 95%;
  margin: 10px auto;
}
.card-datiles img {
  width: 100%;
  height: 300px;
}

.card-title {
  font-size: 1.5em;
  margin: 0;
  color: #344e41;
}

.card-content {
  padding: 15px;
}

.card-description {
  color: #344e41;
  margin: 10px 0 0;
}

.card:hover {
  transform: scale(1.05);
}

.card-button {
  position: absolute;
  top: 0;
  border: 0 solid rgba(255, 0, 0, 0);
  border-radius: 34px;
  padding: 0;
  margin: 0;
  all: unset;
  cursor: pointer;
}

.card-button:hover {
  border-color: white;
}

.summary-box {
  border: 1px solid #dad7cd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #a3b18a;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.cmment-box {
  border: 1px solid #dad7cd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #a3b18a;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  color: #dad7cd;
}

@media (max-width: 900px) {
  .certfi-grid {
    grid-template-columns: auto;
  }
  .header {
    flex-direction: column;
  }
  .header img {
    width: 100px;
    height: 100px;
    margin: 20px;
    order: -1;
  }
  .nav-small-screen {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .nav-small-button {
    display: block;
  }
  .main {
    flex-direction: column;
    justify-content: center;
  }
  .navigation {
    display: none;
  }
  .navigation ul {
    display: block;
  }
  .Cardnavgation {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
