$font-stack: Arial, sans-serif;
$transition: background-color 0.5s, color, 01s;
$primary-color: #344e41;
$secand-color: #3a5a40;
$therd-color: #5c7650;
$forth-color: #a3b18a;
$color: #dad7cd;
$font-color:white;


%flex-containers {
  display: flex;
  justify-content: space-between;
  align-items: top;

}
%grid{
    // margin: 20px auto;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(2, auto);
    /*refrection جزء من باقي المساحة*/
    gap: 1rem;
}
%grid-iteam{

    color: white;
    // padding: 20px;
    font-size: 20px;
    font-weight: bold;

}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dislay-off{
  display: none;
}

.certfi-grid{
  @extend %grid;

}

.grid-iteam{
  @extend %grid-iteam;
  img{
    width: auto;
    height: auto;
  }
}

body {
  transition: $transition;
  font: 100% $font-stack;
  // margin: 0;
  background-color: $color;
  color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

body.light-mode {
  background-color: $color;
  color: $primary-color;
}

body.dark-mode {
  background-color: $primary-color;
  color:$font-color;
}

.header {
  @extend %flex-containers;
  transition: $transition;
  padding: 1em;
  align-items: center;


  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }


  .leng-select {
    // opacity: 0;
    width: 43;
    height: 25;
    // margin: 0px;
    padding: 0px 5px 4px 4px;
    text-align: center;
    border: 0px;
    background-color: #344e41;
    color: #a3b18a;
    border-radius: 34px;
    cursor: pointer;
  }
  option {
    border-radius: 50%;


  }


  .title{
    text-align: center;
    margin:auto;
    padding: 0;
  }
  .leng-select:focus-visible {
    outline: $color auto 0px;
  }

  
}
header.light-mode {
  background-color: $therd-color;

}

header.dark-mode {
  background-color:$primary-color;
}

.nav-small-button {
  display: none;
}

/* dark mode button */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;
    background-color: $primary-color;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: $color;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px $color;
  }
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
}
%ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

%ul-a{
  text-decoration: none;
  padding: 6px 12px;
}

/* nav box */
.navigation {
  @extend %flex-containers;
  flex-direction: row;
  background-color:$forth-color;
  ul {
    @extend %ul;
    display: flex;
    }
  li{
     display: inline-block;
  }

  li:hover{
    background-color: $color
  }
  
}


.main {
  @extend %flex-containers;
  section {
    flex-grow: 2;
  }
}



.message-alrt{
  @extend %ul ;
  background-color: $forth-color;
  color: $font-color ;
  width: 100%;
  padding: 10px;
 
}

.footer {
  background-color: $therd-color;
  justify-content: space-between;
  display: flex;
  margin-top: auto;
  padding: 10px;
  align-items: center;
  color: $color;
  a{
    color: $color;;
  }
}

// card view 
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  transition: transform 0.2s;
  position: relative;
  pointer-events: auto; 
  cursor: pointer;
  img {
    width: 100%;
    height: 300px;
  }
  .card-title {
    font-size: 1.5em;
    margin: 0;
  }
  .card-content {
    padding: 15px;
  }
  .card-description {
    color: #555;
    margin: 10px 0 0;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card-button{
    position: absolute;
    top: 0;
    // border-color:#ffffff00;
    // background-color: #ffffff00;
    border: 0 solid rgba(255, 0, 0, 0);
    border-radius:34px;
    padding: 0;
    margin: 0;
    all: unset; 
    cursor: pointer;

  }
  .card-button:hover{
    border-color:$font-color;
  }


}



@media (max-width: 800px) {
  .certfi-grid{
 grid-template-columns: auto;
  }

    .header{
      flex-direction: column;
    img{
      width: 100px;
      height: 100px;
      margin: 20px;
      order: -1;
    }
    }

    .nav-small-screen{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 100%;  
      align-items: center;
      
    }
    .nav-small-button {
      display: block;
    }

  .main{
      flex-direction: column;
      justify-content: center;
    
  }
  .navigation{
      display: none;
      li{
        flex-direction: block;
      }
 
  }

  
}
