
{% extends "summary/layout.html" %}
{% load static %}
{% block title %}Register{% endblock %}
{% block body %}

<article>
    
    <div class="container">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div> 
            
  
            <div class="form-group">
                <input class="btn-bg" type="submit" value="Register">
            </div>
        </form>
    </div>
</article>
{% endblock %}